.header {
  background-color: black;
  color: white;
  padding: auto;
  margin: auto;
  font-family: serif;
  font-size: large;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  
  
}

.Okuhle {
  background-color: white;
  color: black;
  padding: 40px;
  margin: auto;
  font-family: serif;
  font-size: large;
}

.footer {
  background-color: grey;
  color: black;
  padding: auto;
  margin: auto;
  font-family: serif;
  font-size: large;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}